/* I didnt commented here becuase this is not a realtime project its just a task. Keep in mind that i do comment every script which i write make it easer for other deverloper to read */
.calendar-container{
    margin-top: 100px;
}
.e-schedule .e-vertical-view .e-date-header-wrap table tbody td.e-header-cells{
    pointer-events: none;
}
.e-tbar-btn.e-control.e-btn.e-lib.e-icon-btn{
    border-radius: 0 !important;
    background-color: transparent;
    border: 1px solid #0A70C3;
}
.e-btn-icon.e-icon-prev.e-icons,
.e-btn-icon.e-icon-next.e-icons{
    transform: scaleY(1.2);    
}

/* HEA */
.e-toolbar-item.e-date-range.e-overflow-show{
    display: none !important;
}
.e-toolbar-item.e-date-range.e-overflow-show .e-tbar-btn-text{
    font-size: 1.5rem !important;
    font-weight: bold;
}

.e-schedule .e-today { 
    display: none !important;
}
.e-toolbar .e-toolbar-item.e-separator {
    display: none !important;
}

.e-schedule .e-schedule-toolbar .e-toolbar-items.e-tbar-pos,
.e-toolbar-item.e-views .e-tbar-btn-text,
.e-control.e-schedule.e-lib.e-keyboard, 
.e-control.e-schedule.e-lib.e-keyboard .e-work-cells, 
.e-schedule .e-vertical-view .e-date-header-wrap table tbody td
{
    background-color: #ffffff !important;
}

/* D, W, M, Y */
.e-toolbar-item.e-views{
    margin-left: 25px !important;
}
.e-toolbar-item.e-views .e-tbar-btn-text{
    height: 24px;
    font-weight: 450;
    text-transform: capitalize !important;
}
.e-toolbar-item.e-views .e-tbar-btn:hover{
    background-color: transparent !important;
}
.e-toolbar-item.e-views.e-active-view .e-tbar-btn-text{
    color: #000000;
    border-bottom: 2px solid #0A70C3;
}
.e-toolbar-item.e-views.e-active-view{
    background-color: #ffffff !important;
}

/* TIME */
.e-schedule .e-vertical-view .e-time-cells-wrap table td, .e-schedule .e-vertical-view .e-work-cells{
    height: 140px;
}
.e-time-cells-wrap span{
    left: 50%;
    position: absolute;
    transform: translate(-50%, -450%);
    color: #0A70C3;
    font-weight: 450;
}
.e-schedule-table > tbody > tr:nth-child(1) > td > div > .e-time-slots > span {
    display: none;
}

.calGridDateMonth{
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 450;
}
.calGridDay{
    display: flex;
    justify-content: center;
}
.e-control.e-schedule.e-lib.e-keyboard{
    border-left: 0;
    border-right: 0;
}
.e-control.e-schedule.e-lib.e-keyboard,
.e-control.e-schedule.e-lib.e-keyboard .e-work-cells,
.e-schedule .e-vertical-view .e-date-header-wrap table tbody td{
    border-color: rgba(0, 0, 0, 0.07);
}
.e-time-slots,
.e-time-cells.e-time-slots,
.e-header-cells.e-disable-dates,
.e-all-day-cells.e-disable-dates.e-animate{
    border: 0 !important;
}

.e-all-day-appointment-wrapper{
    display: none;
}
.e-schedule-table.e-outer-table > tbody > tr > td:nth-child(2),
.e-content-wrap {
    overflow: visible !important;
}
.e-appointment-details{
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
}
.e-day-wrapper .e-appointment,
.e-schedule .e-appointment{
    padding: 0 !important;
    border-radius: 6px !important;
    box-shadow: 0 1px 16px 0 rgba(0,0,0,.25);
    overflow: visible !important;
}
.e-schedule .e-appointment-details > div,
.e-schedule .e-appointment > div
{
    width: 100% !important;
    height: 100% !important;
}
/*  */
.e-day-wrapper .e-appointment .calGridEventSection,
.e-appointment .calGridEventSection
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    background-color: #FFFFFF;
    overflow: hidden !important;
}
.calGridEventSection > .calGridEventCount{
    top: -8px;
    right: -8px;
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 25px;
    background-color: rgb(232, 197, 0);
    z-index: 1;
}
.calGridEventSection > .calGridEventCount > span{
    top: 52%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #000000;
    font-size: 1.4rem;
    font-weight: 450;
}
.e-day-wrapper .calGridEventSidebar,
.calGridEventSidebar{
    width: 28px;
    background-color: #0A70C3;
}
.e-day-wrapper .calGridEventContent,
.calGridEventContent{
    margin: 4px 10px;
    width: 100%;
    background-color: #ffffff;
    overflow: hidden !important;
}
.e-day-wrapper .calGridEventContent > div,
.calGridEventContent > div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
}

.calGridEventContent > div > span{
    font-size: 1.2rem;
    color: #000000;
}

.e-more-popup-wrapper .calGridEventSection > div:nth-child(1){
    display: none;
}
.e-schedule .e-month-view .e-more-indicator{
    display: none;
}
.e-schedule .e-month-view .e-appointment
{
    transform: translateY(-150%) scale(0.8);
    height: 70px;
}
.e-work-cells.e-work-days{
    height: 120px !important;
}


.e-schedule .e-month-view .e-date-header{
    padding-right: 4px;
    padding-bottom: 6px;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end !important;
    pointer-events: none;
}
.e-schedule .e-month-view .e-current-date .e-date-header, .e-schedule .e-month-agenda-view .e-current-date .e-date-header{
    margin: 0 !important;
    padding-right: 7px;
    padding-bottom: 3px;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: #ffffff;
    color: red;
}
/* MONTH | *YEAR - EXTRA FIELD */
.e-more-appointment-wrapper > .e-appointment{
    margin-bottom: 10px;
    height: 100%;
    border-radius: 6px;
    overflow: hidden !important;
}


.calSFDatesSection{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}
.calSFDate{
    left: 85px;
    padding: 2.5px 18px;
    position: absolute;
    transform: scaleY(1.1) translateY(30%);
    border-radius: 4px;
    box-shadow: 0 1px 16px 0 rgba(0,0,0,.25);
    background-color: #FFFFFF;
}
.calSFDate > span{
    font-size: 1.4rem;
    color: #0A70C3;
    font-weight: bold;
    transform: scaleY(1.5);
}
.calSFDateRange{
    left: 41.5%;
    position: absolute;
    transform: scaleY(1.1) translate(-50%, 55%);
    font-size: 1.4rem;
    font-weight: bold;
}


/* SCROLL BAR */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #0A70C3;
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*  */
.calHeaderPopupMeetingsSection{
    padding: 0 15px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 4px solid #FFFFFF;
    background-color: #FFFFFF;
    font-size: 1.8rem;
    font-weight: bold;
    overflow: hidden;
}
.calHeaderPopupMeetingsClose{
    box-sizing: content-box;
    transform: scale(0.9);
    border-radius: 25px;
    border: 3px solid #0A70C3;
    color: #FFFFFF;
    background-color: #0A70C3;
    cursor: pointer;
}
.calHeaderPopupMeetingsClose:hover{
    border: 3px solid #555;
    background-color: #555;
}

.e-popup-content{
    padding: 0 !important;
}
.calContentPopupMeetingsSection{
    padding: 0 15px 15px 15px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border: 4px solid #ffffff;
    overflow-y: scroll;
}
.calContentPopupMeetingsDivider{
    margin: 0 0 15px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.calContentPopupMeetingsContainer{
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    box-shadow: 0 1px 16px 0 rgba(0,0,0,.25);
    cursor: pointer;
}
.calContentPopupMeetingsContainer:hover .calContentPopupMeetingsContainer > div:nth-child(2) > div > span:nth-child(1){
    border-right: 10px solid #ffffff;
}
.calContentPopupMeetingsContainer > div:nth-child(1){
    width: 25px;
    border-radius: 6px 0 0 6px;
    background-color: #0A70C3;
}

.calContentPopupMeetingsContainer > div:nth-child(2) > *{
    font-size: 1.2rem;
    padding-top: 12px;
}
.calContentPopupMeetingsContainer > div:nth-child(2){
    padding: 15px;
}
.calContentPopupMeetingsContainer > div:nth-child(2) > span{
    font-size: 1.4rem;
    font-weight: 450;
    text-transform: capitalize;
}
.calContentPopupMeetingsContainer > div:nth-child(2) > div > span:nth-child(1){
    padding: 3.5px 12px 3.5px 0;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.calContentPopupMeetingsContainer > div:nth-child(2) > div > span:nth-child(2){
    padding: 0 0 0 12px;
}
.calContentPopupMeetingsContainer > div:nth-child(2) > div:nth-child(2) > span{
    font-weight: 400;
}